[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GLMBasedRaschEstimation"]
	path = GLMBasedRaschEstimation
	url = https://github.com/drahmedsamir/glmbasedraschestimation
